header {
    background-image: url('../../../public/assets/headerbg.webp');
}

/* #score {
    background-image: url('../../../public/assets/ScoreBg.png');
    width: 15rem;
    height: 4rem;
    border: 1px solid red;
} */