.instruction {
    color: #F3C4CD;
}
#line {
    background-color: #7C2B6F;
    width: 0.2rem;
    height: 20rem;
}
.homeScreen {
    background: rgba(0, 10, 39, 0.64);
    mix-blend-mode: normal;
    border: 2px solid #2E003A;
    backdrop-filter: blur(8.5px);
    border-radius: 41px;
}